In [ ]:
!pip install sdv

In [2]:
from sdv.timeseries import PAR
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from pickle import dump, load

In [3]:
loaded = PAR.load('melted_model.pkl')

In [4]:
sample = loaded.sample(num_sequences=1)

100%|██████████| 1/1 [19:52<00:00, 1192.32s/it]

## this took 20 mins to create on a large notebook image.

In [6]:
sample.head(20)

             timestamp variable     value
0  2018-04-12 02:40:00        a  0.733414
1  2018-04-12 02:41:00        a  0.481140
2  2018-04-12 02:42:00        a  0.557048
3  2018-04-12 02:43:00        a  0.481140
4  2018-04-12 02:44:00        a  0.303740
5  2018-04-12 02:45:00        a  0.836772
6  2018-04-12 02:46:00        a  0.481140
7  2018-04-12 02:47:00        a  0.314285
8  2018-04-12 02:48:00        a  0.198944
9  2018-04-12 02:49:00        a  0.481140
10 2018-04-12 02:50:00        a -0.352613
11 2018-04-12 02:51:00        a  0.351408
12 2018-04-12 02:52:00        a  0.191543
13 2018-04-12 02:53:00        a -0.021916
14 2018-04-12 02:54:00        a -0.155020
15 2018-04-12 02:55:00        a  0.262763
16 2018-04-12 02:56:00        a  0.323994
17 2018-04-12 02:57:00        a  0.402332
18 2018-04-12 02:58:00        a  0.140717
19 2018-04-12 02:59:00        a  0.114409

In [7]:
sample.sort_values(by='timestamp',inplace=True)
sample.reset_index(inplace=True)
sample = sample.drop('index', 1)

In [8]:
sample.head(20)

             timestamp variable     value
0  2018-04-12 02:40:00        a  0.733414
1  2018-04-12 02:41:00        a  0.481140
2  2018-04-12 02:42:00        a  0.557048
3  2018-04-12 02:43:00        a  0.481140
4  2018-04-12 02:44:00        a  0.303740
5  2018-04-12 02:45:00        a  0.836772
6  2018-04-12 02:46:00        a  0.481140
7  2018-04-12 02:47:00        a  0.314285
8  2018-04-12 02:48:00        a  0.198944
9  2018-04-12 02:49:00        a  0.481140
10 2018-04-12 02:50:00        a -0.352613
11 2018-04-12 02:51:00        a  0.351408
12 2018-04-12 02:52:00        a  0.191543
13 2018-04-12 02:53:00        a -0.021916
14 2018-04-12 02:54:00        a -0.155020
15 2018-04-12 02:55:00        a  0.262763
16 2018-04-12 02:56:00        a  0.323994
17 2018-04-12 02:57:00        a  0.402332
18 2018-04-12 02:58:00        a  0.140717
19 2018-04-12 02:59:00        a  0.114409

In [9]:
sample.variable.unique()

array(['a'], dtype=object)

This is just going to a limitation of SDV with the current approach. starting new nb to explore training models per sensor to avoid this issue and perhaps yield better results.